/* 
light blue: #74c6f7
medium blue: #279af1
indigo: #5461cb

*/

.MuiToolbar-root {
  background-color: #5461cb !important;
  border-color: #5461cb !important;
}

.MuiToolbar-root .MuiButtonBase-root {
  color: #ffffff !important
}

.message {
  background-color: #74c6f7 !important
}

.MuiBox-root p {
  color: #279af1 !important;
}

.MuiBox-root p:first-child {
  color: #5461cb !important;
}

.MuiIconButton-edgeEnd {
  background-color: #279af1 !important
}

.markdown-body p {
  color: #279af1 !important;
}

#new-chat-button {
  background-color: #279af1 !important
}