/* 
light blue: #74c6f7
medium blue: #279af1
indigo: #5461cb

*/

.MuiPaper-root header {
  background-color: #5461cb !important
}
.message {
  background-color: #74c6f7 !important
}

.MuiBox-root p {
  color: #279af1 !important;
}

.MuiBox-root p:first-child {
  color: #5461cb !important;
}

.MuiIconButton-edgeEnd {
  background-color: #279af1 !important
}

#new-chat-button {
  background-color: #279af1 !important
}